# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# Avoid processed data
data_processed/
*.parquet

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
